# Service Ports
PORT_USER=3001
PORT_PRODUCT=3002
PORT_PAYMENT=3003

# Environment
NODE_ENV=development

# Example DB URLs (replace when needed)
USER_DB_URL=mongodb://user-db:27017/users
PRODUCT_DB_URL=mongodb://product-db:27017/products
PAYMENT_DB_URL=mongodb://payment-db:27017/payments
